:root {
    --color-bg-grey: #e6e6e6;
    --color-bg-dark: #b3b3b3;
    --color-text: #000000;
    --color-white: #ffffff;
    --color-bg-cream: #F9F8F4;
    --color-bg-brown: #221814;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--color-text);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-center {
    text-align: center;
}

.bg-grey {
    background-color: var(--color-bg-grey);
}

.bg-white {
    background-color: #ffffff;
}

.bg-cream {
    background-color: var(--color-bg-cream);
}

.bg-dark-brown {
    background-color: var(--color-bg-brown);
}

/* OTSIKOT */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

.introduction h1 {
    font-size: 3rem;
    margin-bottom: 25px;
}

p {
    margin-bottom: 15px;
}

.site-header {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: bold;
    background-color: #fff;
}

.mobile-menu-btn {
    font-size: 24px;
    background: none;
    border: none;
}

.main-nav {
    display: none;
}

.main-nav ul {
    list-style: none;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

/* HERO / INTRODUCTION SECTION */
.introduction {
    position: relative;
    padding: 100px 0;
    color: var(--color-white); /* se on myös tekstin väri */
    overflow: hidden; /* näin blur-efekti pysyy section rajoilla */   
}

.introduction::before { /* blur-efeckti*/
    content: "";
    position: absolute;
    inset: -10px;
    background-image: url('hero_taustakuva.jpg');
    background-size: cover;
    background-position: center;
    filter:blur(6px);
    z-index: 0;
}

.introduction::after { /* dark overlay*/
    content: "";
    position:absolute;
    inset: 0;
    background-color: #0000007a;
    z-index: 1;
}

.introduction .container {
    position: relative;
    z-index: 2;
}

.events-section,
.cta-section,
.content-section {
    padding: 50px 0;
}

.events-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.event-card {
    background-color: #fff;
    border-radius: 24px;
    padding: 16px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
}

.card-image-wrapper {
    width: 100%;
    height: 220px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card-image {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    padding: 0.8px;
}

.card-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #000;
    margin-bottom: 4px;
}

.card-description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 24px;
}


.btn{
    background-color: #222;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.site-footer {
    background-color: var(--color-bg-brown);
    color: var(--color-bg-cream);
    padding: 40px 0;
    margin-top: 0px;
    
}

.footer-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.site-footer .logo {
    justify-self: start;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 30px;
}

.site-footer p {
    justify-self: center;
    margin-top: 12px;
    text-align: center;
}

.site-footer address {
    justify-self: end;
    text-align: right;
    font-style: normal;
}

@media (min-width: 768px) {

    .mobile-menu-btn {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .main-nav ul {
        display: flex;
        gap: 30px;
    }

    .events-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.featured-event {
    padding: 60px 0;
}

.featured-flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

.featured-image {
    background-image: url('https://images.unsplash.com/photo-1517048676732-d65bc937f952?auto=format&fit=crop&w=900&q=80');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 50%;
    border-radius: 20px;
}

.featured-text {
    width: 50%;
}

.event-date {
    font-weight: bold;
}

.events-list-section {
    padding: 60px 0;
}

.event-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}